/* Global Styles */
html {
  background-color: var(--mainBgColor, #fff);
}

body {
  contain: layout;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', -apple-system, 'Helvetica Neue', 'Segoe UI', Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: var(--mainTextColor, #333);
  background-color: inherit;
}

@media (min-width: 1280px) {
  .body {
    padding: 50px 100px 95px;
  }
}

@media (max-width: 1279px) {
  .body {
    padding: 30px 24px 52px;
  }
}

a {
  color: var(--mainTextColor);
  transition: color .15s;
}

a:hover,
a:focus {
  color: var(--secondaryTextColor);
}

a svg {
  flex-shrink: 0;
  fill: currentColor;
}

button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.secondary-text {
  color: var(--secondaryTextColor);
}

.link {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.cuisine-link {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}

@media (min-width: 1280px) {
  .cuisine-link {
    position: relative;
    top: -25px;
    right: -72px;
  }
}

@media (max-width: 1279px) {
  .cuisine-link {
    margin-bottom: 30px;
  }
}

.cuisine-link .link {
  gap: 1rem;
}

.cuisine-link .link:hover,
.cuisine-link .link:focus {
  color: var(--accentColorHover);
}

@media (min-width: 992px) {
  .body-asian .cuisine-link svg {
    order: -1;
    transform: rotate(180deg);
  }
}

@media (max-width: 991px) {
  .body-asian .cuisine-link svg {
    transform: rotate(-90deg);
  }

  .body-thai .cuisine-link svg {
    transform: rotate(90deg);
  }
}

.cuisine-link .link-uppercase {
  margin-left: .375rem;
  text-transform: uppercase;
}

.action-button {
  min-width: 172px;
  padding: 10px 35px;
  text-align: center;
  font-weight: 600;
  background-color: var(--accentColor);
  border-radius: var(--buttonBorderRadius);
  transition: background-color .15s;
}

.action-button:hover,
.action-button:focus,
.action-button:active {
  color: var(--mainTextColor);
  background-color: var(--accentColorHover);
}

.action-button.action-button-dark {
  color: var(--inverseTextColor);
  background-color: var(--secondaryBgColor);
}

.action-button.action-button-dark:hover,
.action-button.action-button-dark:focus,
.action-button.action-button-dark:active {
  color: var(--inverseTextColor);
  background-color: var(--secondaryBgColorHover);
}

@media (min-width: 600px) {
  .is-desktop-hidden {
    display: none !important;
  }
}

@media (max-width: 599px) {
  .is-mobile-hidden {
    display: none !important;
  }

  .mobile-menu-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .mobile-menu-close-button svg {
    pointer-events: none;
    flex-shrink: 0;
  }
}

/* View Transition Styles */
.body-index {
  view-transition-name: body-index;
}

.body-asian {
  view-transition-name: body-asian;
}

.body-thai {
  view-transition-name: body-thai;
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

::view-transition-new(body-index) {
  animation: .75s ease-out .25s both fade-in;
}

@media (min-width: 992px) {
  @keyframes slide-from-left {
    from { transform: translateX(-100%); }
  }

  @keyframes slide-to-left {
    to { transform: translateX(-100%); }
  }

  @keyframes slide-from-right {
    from { transform: translateX(100%); }
  }

  @keyframes slide-to-right {
    to { transform: translateX(100%); }
  }

  ::view-transition-old(body-asian):only-child {
    animation:
      .45s cubic-bezier(0.4, 0, 1, 1) both fade-out,
      .5s cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }

  ::view-transition-new(body-asian):only-child {
    animation:
      .25s cubic-bezier(0, 0, 0.2, 1) both fade-in,
      .5s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
  }

  ::view-transition-old(body-thai):only-child {
    animation:
      .45s cubic-bezier(0.4, 0, 1, 1) both fade-out,
      .5s cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
  }

  ::view-transition-new(body-thai):only-child {
    animation:
      .25s cubic-bezier(0, 0, 0.2, 1) both fade-in,
      .5s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }
}

@media (max-width: 991px) {
  @keyframes slide-from-top {
    from { transform: translateY(-100%); }
  }

  @keyframes slide-to-top {
    to { transform: translateY(-100%); }
  }

  @keyframes slide-from-bottom {
    from { transform: translateY(100%); }
  }

  @keyframes slide-to-bottom {
    to { transform: translateY(100%); }
  }

  ::view-transition-old(body-asian):only-child {
    animation:
      .45s cubic-bezier(0.4, 0, 1, 1) both fade-out,
      .5s cubic-bezier(0.4, 0, 0.2, 1) both slide-to-top;
  }

  ::view-transition-new(body-asian):only-child {
    animation:
      .25s cubic-bezier(0, 0, 0.2, 1) both fade-in,
      .5s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-top;
  }

  ::view-transition-old(body-thai):only-child {
    animation:
      .45s cubic-bezier(0.4, 0, 1, 1) both fade-out,
      .5s cubic-bezier(0.4, 0, 0.2, 1) both slide-to-bottom;
  }

  ::view-transition-new(body-thai):only-child {
    animation:
      .25s cubic-bezier(0, 0, 0.2, 1) both fade-in,
      .5s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
  }
}
/* END View Transition Styles */
/* END Global Styles */
